ecosys_initial_configurations/cool_temp_maize-soybean/outputs
ecosys_initial_configurations/warm_tem_maize_soybean_irrigated/outputs
ecosys_initial_configurations/warm_temp_maize-soybean_dryland/outputs
datasets/*
.ipynb_checkpoints


models/xgb_reg.pkl
models/xgb_reg.json

